# Ambientes Virtuais
.venv/
venv/
env/
bin/
lib/
share/
pyvenv.cfg

# Python (Cache e Bytecode)
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDEs e Sistema
.vscode/
.idea/
.DS_Store
*.swp
*.bak

# Distribuição / Pacotes
dist/
build/
*.egg-info/